
/* vars  */
:root{
  --header-height: 3.5rem;
  --font-weight: 450;
  --main-color: #191919;
  --secondry-color: #0c0c0c;
  --main-font: 'Roboto Mono', monospace;
  --big-font: 30px;
  --h2-font: 1.25rem;
  --normal-font: 20px;
  --nav-color: white;
}

*,::before,::after{
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--main-font);
  font-size: var(--normal-font);
  color: var(--secondry-color);
  text-align: center;
  background-color: #37373d;
  color: white;
  padding: 10px;
  line-height: 300%;
}
a {
  text-decoration: none;
  color: goldenrod;
}
a:hover{
  color: red;
}
a:visited{
  color: white;
}
ul{
  list-style: none;
  text-align: left;
}
p {
  font-size: 25px;
  color: white;
  font-family: 'Saira Condensed', sans-serif;
  font-weight: 500;
  line-height: 120%;
}
h1 {
  font-size: 55px;
  color: white;
  display: block;
  text-shadow: 2px 2px 4px blue;
}
.vilodium{
  animation: move linear 2000ms infinite;
  font-family: var(--main-font);
  color: white;
}
@keyframes move {
  0% {
    text-shadow:
      2px -2px 0 hsla(0, 100%, 50%, 1), 
      1px -1px 0 hsla(0, 100%, 50%, 1), 
      0px -0px 0 hsla(0, 100%, 50%, 1), 
      0px -0px 0 hsla(0, 100%, 50%, 1),
      -2px 2px 0 hsla(180, 100%, 50%, 1), 
      -1px 1px 0 hsla(180, 100%, 50%, 1), 
      -0px 0px 0 hsla(180, 100%, 50%, 1), 
      -0px 0px 0 hsla(180, 100%, 50%, 1)
    ;
  }
  25% {    
    text-shadow:      
      -2px -2px 0 hsla(180, 100%, 50%, 1), 
      -1px -1px 0 hsla(180, 100%, 50%, 1), 
      -0px -0px 0 hsla(180, 100%, 50%, 1), 
      -0px -0px 0 hsla(180, 100%, 50%, 1),
      2px 2px 0 hsla(0, 100%, 50%, 1), 
      1px 1px 0 hsla(0, 100%, 50%, 1), 
      0px 0px 0 hsla(0, 100%, 50%, 1), 
      0px 0px 0 hsla(0, 100%, 50%, 1)      
    ;
  }
  50% {
    text-shadow:
      -2px 2px 0 hsla(0, 100%, 50%, 1), 
      -1px 1px 0 hsla(0, 100%, 50%, 1), 
      -0px 0px 0 hsla(0, 100%, 50%, 1), 
      -0px 0px 0 hsla(0, 100%, 50%, 1),
      2px -2px 0 hsla(180, 100%, 50%, 1), 
      1px -1px 0 hsla(180, 100%, 50%, 1), 
      0px -0px 0 hsla(180, 100%, 50%, 1), 
      0px -0px 0 hsla(180, 100%, 50%, 1)
    ;
  }
  75% {
    text-shadow:
      2px 2px 0 hsla(180, 100%, 50%, 1), 
      1px 1px 0 hsla(180, 100%, 50%, 1), 
      0px 0px 0 hsla(180, 100%, 50%, 1), 
      0px 0px 0 hsla(180, 100%, 50%, 1),
      -2px -2px 0 hsla(0, 100%, 50%, 1), 
      -1px -1px 0 hsla(0, 100%, 50%, 1), 
      -0px -0px 0 hsla(0, 100%, 50%, 1), 
      -0px -0px 0 hsla(0, 100%, 50%, 1)      
    ;
  }
  100% {
    text-shadow:
      2px -2px 0 hsla(0, 100%, 50%, 1), 
      1px -1px 0 hsla(0, 100%, 50%, 1), 
      0px -0px 0 hsla(0, 100%, 50%, 1), 
      0px -0px 0 hsla(0, 100%, 50%, 1),
      -2px 2px 0 hsla(180, 100%, 50%, 1), 
      -1px 1px 0 hsla(180, 100%, 50%, 1), 
      -0px 0px 0 hsla(180, 100%, 50%, 1), 
      -0px 0px 0 hsla(180, 100%, 50%, 1)
    ;
  }  
}
b{
  font-size: 30px;
}
.grid{
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.the-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--main-color);
  box-shadow: 0 1px 4px rgba(146,161,176,.15);
}
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-weight);
}
@media screen and (max-width: 768px){
  .nav_menu{
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 70%;
    height: 100%;
    padding: 2rem;
    background-color: #892605;
    transition: .3s;
  }
}
.nav_item{
  margin-bottom: 1.5rem;
}
.nav_link{
  position: relative;
  color: white;
}
.nav_link:hover{
  position: relative;
  color: lightgoldenrodyellow;
}
.nav_link:hover::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: royalblue;
}
.nav_logo{
  color: var(--nav-color);
  font-size: var(--big-font);
  margin-left: 5px;
}
.nav_toggle{
  color: var(--nav-color);
  font-size: 1.5rem;
  cursor: pointer;
}

.active::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 0.19rem;
  left: 0;
  top: 2rem;
  background-color: goldenrod;
}

.show{
  right: 0;
}


.button{
  display: inline-block;
  background-color: #d30404;
  color: white;
  padding: .75rem 2.5rem;
  font-weight: var(--font-weight);
  border-radius: .5rem;
}
.button:hover{
  box-shadow: 0 10px 36px rgba(0,0,0,.17);
}
.email{
  font-family: var(--main-font);
  font-size: 20px;
}
.link-border{
  border: white 3px solid;
  padding: 5px;
  border-radius: 25px;
  background-color: #19191c;
}
.main-border{
  border: white 1px double;
  padding: 15px;
  border-radius: 15px;
  margin-top: 7%;
  background-color: #252528;
}
.visitors{
  border: #171718 5px solid;
  padding: 35px 3px 35px 3px;
  border-radius: 20px;
  margin-top: 5px;
  background-color: #232422;
}
.count-container{
  padding-right: 35%;
  padding-left: 35%;
  padding-bottom: 10px;
  padding-top: 5px;
}
footer{
  position: absolute;
  left: 0;
  bottom: 1;
  width: 100%;
  background-color: #212122;
  color: white;
  text-align: center;
}
.project{
  font-family: var(--main-font);
}

/* MEDIA */

@media screen and (max-width: 360px){
  .nav_logo {
    font-size: 1.5rem;
  }
  .email{
  font-size: 15px;
  }
  .count-container{
  padding-right: 5%;
  padding-left: 5%;
  }


}
@media screen and (max-width: 230px){
  .nav_logo {
    font-size: 1rem;
  }
  .email{
  font-size: 10px;
  }
  .count-container{
  padding-right: 3%;
  padding-left: 3%;
  }
  
}
@media screen and (min-width: 768px){
  body{
    margin: 0;
  }
  .section{
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .section-title{
    margin-bottom: 3rem;
  }
  .section-title::after{
    width: 80px;
    top: 3rem;
  }

  .nav{
    height: calc(var(--header-height) + 1rem);
  }
  .nav_list{
    display: flex;
    padding-top: 0;
  }
  .nav_item{
    margin-left: 3rem;
    margin-bottom: 0;
  }
  .nav_toggle{
    display: none;
  }
  .nav_link{
    color: var(--nav-color);
  }

@media screen and (min-width: 1024px){
  .bd-grid{
    margin-left: auto;
    margin-right: auto;
  }
  .home_img{
    right: 10%;
  }
}
